{% extends "adopter/Base.html" %}
{% block content %}

***************************
# עיצוב הטופס לפי תיבות להכנסות טקסט
<html>
<body>

<h2>HTML Forms</h2>

<form action="{ % url 'Donations:submit' % }">
  <label for="fname">Name:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="lname">Credit:</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br><br>
  <input type="submit" value="Submit">
</form>

</body>
</html>
*******************************************
#תרומות לפי סכום קבוע

                <li>
                <a role="button" href="{%url 'Donations:submit' %}" class="btn btn-info">For $ 50 donations click here</a>
                </li>  <br>&#160
                <li>
                <a role="button" href="{%url 'Donations:submit' %}" class="btn btn-info">For $ 100 donations click here</a>
                </li> <bt>&#160





*********************************








<body>
<div>
    <form class = "Donors" action= "{ % url 'Donations:submit' % }" method="post">
    {%csrf_token %}
    <input type="text" name="name" id="name" placeholder="Name"/>
    <input type="credit" name="credit" id="credit" placeholder="credit">
    <button type="submit">send</button>
    </form>
</div>

</body>

{% endblock %}








