{% extends "adopter/Base.html" %}

{% load static %}

{% block content %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>success stories</title>
        <style>


            .title {
                padding: 0.3rem;
                text-align: center;
                box-shadow: 0 6px 7px lightgray;


            }
        </style>
    </head>

    <body>
    <body class="title">
    <h1>סיפורי הצלחה</h1>
    <div class="list-group">
        {% for story in stories %}

            <div class="row justify-content-center my-3">
                <div class="col-md-10">
                    <h5 class="text-muted">{{ story.date|date:'d M Y'|upper }}</h5>
                    <h4>{{ story.name }}</h4>
                    <p>{{ story.text|striptags }}</p>
                </div>
            </div>
        {% endfor %}

        <a role="button" href="{% url 'success_story:create_story' %}" class="btn btn-danger">Add</a>
    </div>


{% endblock %}
